<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="">
      <h6>Home / Dashboard</h6>
      <h1><a class="navbar-brand font-weight-bold" routerLink="">Dashboard</a></h1>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 d-flex align-items-center"
      >
        <li class="nav-item">
          <img
            src="Assets/Images/notifications_none.png"
            alt="Notifications"
            class="nav-icon"
          />
        </li>
        <li class="nav-item mx-2">
          <img
            src="Assets/Images/info_outline.png"
            alt="Info"
            class="nav-icon"
          />
        </li>
        <li class="nav-item ">
          <img
            src="Assets/Images/account_circle_24dp_1F1F1F_FILL0_wght400_GRAD0_opsz24.png"
            alt="Account"
            class="nav-image"
            width="30rem"
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
