<aside class="sidebar" [ngClass]="{ collapsed: isCollapsed }">
  <div class="logo">
    <img src="Assets/Images/LOGO.png" alt="Logo" />
    <h2 [ngClass]="{ hidden: isCollapsed }">Taxi Messages</h2>
  </div>
  <img
    src="Assets/Images/Frame 1000004117.png"
    alt="image"
    class="sidebarImage"
    (click)="handleCollapsed()"
    [ngClass]="{ 'collapsed-img': isCollapsed }"
  />
  <nav>
    <ul class="ul1">
      <li>
        <a routerLink="/home" routerLinkActive="active"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
          >
            <path
              d="M12.2941 25C18.5317 25 23.5882 20.0879 23.5882 14.0287H12.2941L12.2942 3.05731C6.05659 3.05728 1 7.96934 1 14.0287C1 20.0879 6.05655 25 12.2941 25Z"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.2353 1V9.12299H25V8.54277C25 4.37702 21.5236 1 17.2353 1Z"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p [ngClass]="{ hidden: isCollapsed }">Home</p>
        </a>
      </li>
      <li>
        <a routerLink="/messages" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (1).png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">Message</p>
        </a>
      </li>
      <li>
        <a routerLink="/blocked-list" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (2).png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">Blocked List</p>
        </a>
      </li>
      <li>
        <a routerLink="/devices" routerLinkActive="active">
          <img class="img" src="Assets/Images/devices.png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">Devices</p>
        </a>
      </li>

      <li>
        <a routerLink="/chatbot" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (4).png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">chatbot</p>
        </a>
      </li>
    </ul>
    <ul class="ul2">
      <li>
        <a routerLink="/settings" routerLinkActive="active"
          ><img class="img" src="Assets/Images/setting.png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">App setting</p>
        </a>
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active"
          ><img class="img" src="Assets/Images/profile.png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">Profile</p>
        </a>
      </li>
    </ul>
    <ul class="ul3">
      <li>
        <a routerLink="/logout" routerLinkActive="active"
          ><img class="img" src="Assets/Images/logout.png" alt="" />
          <p [ngClass]="{ hidden: isCollapsed }">Logout</p>
        </a>
      </li>
    </ul>
  </nav>
</aside>
