<aside class="sidebar">
  <div class="logo">
    <img src="Assets/Images/LOGO.png" alt="Logo" />
    <h2>Taxi Messages</h2>
  </div>
  <nav>
    <ul class="ul1">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (1).png" alt="" /> Home</a
        >
      </li>
      <li>
        <a routerLink="/messages" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (1).png" alt="" />
          Messages</a
        >
      </li>
      <li>
        <a routerLink="/blocked-list" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (2).png" alt="" />Blocked
          List</a
        >
      </li>
      <li>
        <a routerLink="/devices" routerLinkActive="active">
          <img class="img" src="Assets/Images/Icon (1).png" alt="" />Devices</a
        >
      </li>

      <li>
        <a routerLink="/chatbot" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (1).png" alt="" />
          Chatbot</a
        >
      </li>
    </ul>
    <ul class="ul2">
      <li>
        <a routerLink="/settings" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (2).png" alt="" />App
          Settings</a
        >
      </li>
      <li>
        <a routerLink="/profile" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (1).png" alt="" />
          Profile</a
        >
      </li>
    </ul>
    <ul class="ul3">
      <li>
        <a routerLink="/logout" routerLinkActive="active"
          ><img class="img" src="Assets/Images/Icon (2).png" alt="" /> Logout</a
        >
      </li>
    </ul>
  </nav>
</aside>
