.sidebar {
  width: 15rem;
  height: 100vh;
  background: #f8f9fa;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ececec;
  background: var(--Color-White, #fff);
}
.sidebar.collapsed {
  width: 8rem;
}

.hidden {
  display: none;
}
.sidebarImage {
  position: absolute;
  top: 8%;
  left: 15%;
  width: 4rem;
  height: 4rem;
}
.sidebar.collapsed .sidebarImage {
  left: 6rem;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  align-self: stretch;
}

.sidebar .logo img {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}

.sidebar .logo h2 {
  color: #030303;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.sidebar nav {
  flex: 1;
}

.sidebar nav li {
  margin: 5px 0;
  cursor: pointer;
}
.sidebar .ul2 li a,
.sidebar .ul3 li a {
  display: flex;
    gap: 6px;
}
.sidebar nav li a {
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 8px 20px; 
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.sidebar nav li a .img {
  color: #030303;
}

.sidebar nav li a:hover {
  background: linear-gradient(0deg, #2ebc96 0%, #1a9096 100%) !important;
  color: #fff !important;
}
.sidebar nav li a.active {
  background-color: #28a745 !important;
  color: white !important;
}
.sidebar nav .ul1,
.sidebar nav .ul2,
.sidebar nav .ul3 {
  list-style: none;
  border-radius: 32px;
  background: #fff;
  padding: 0px;
  
  box-shadow: 0px 2px 20px 0px rgba(112, 144, 128, 0.2);
}

@media (min-width: 1380px) {
  .sidebar {
    width: 14rem;
  }
  .logo {
    margin-bottom: 3rem;
  }
  .sidebar .logo h2 {
    font-size: 20px;
  }
  .sidebar nav li a {
    font-size: 14px;
  }

  .sidebar nav .ul1,
  .sidebar nav .ul2,
  .sidebar nav .ul3 {
    list-style: none;
    border-radius: 30px;
    gap: 1000px;
    background: #fff;
    padding: 16px;
    box-shadow: 0px 2px 20px 0px rgba(112, 144, 128, 0.2);
  }
  nav {
    gap: 100 px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 10rem;
    padding: 10px;
  }
  .sidebar .logo img {
    width: 40px;
    height: 40px;
  }
  .sidebar .logo h2 {
    font-size: 18px;
  }
  .sidebar nav li a {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 8rem;
    padding: 8px;
  }
  .sidebar .logo img {
    width: 30px;
    height: 30px;
  }
  .sidebar .logo h2 {
    font-size: 16px;
  }
  .sidebar nav li a {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 6rem;
    padding: 5px;
  }
  .sidebar .logo img {
    width: 25px;
    height: 25px;
  }
  .sidebar .logo h2 {
    font-size: 14px;
  }
  .sidebar nav li a {
    font-size: 11px;
  }
}
